In [1]:
import pandas as pd

In [2]:
read_csv = pd.read_csv("c:/users/musfik/documents/Copy of Fortune_10.csv")
read_csv

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [3]:
read_csv.replace(to_replace="Health",value="Healthy")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Healthy,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Healthy,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Healthy,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Healthy,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Healthy,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [4]:
read_csv.replace(10,15)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,15,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [5]:
read_csv.replace([1,2,3,4,5,6,7,8,9,10],0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,0,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,0,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [6]:
read_csv.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,11,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,12,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,13,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,14,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,15,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,16,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,17,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,18,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,19,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,20,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [7]:
read_csv.replace({"Industry":"Health"},"none")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,none,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,none,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,none,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,none,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [8]:
read_csv.replace("[A-za-z]",0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [9]:
read_csv.replace("[A-za-z]",0,regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,0,0,2009,"$11,757,018",0,5274553,30%,0
1,2,0,0,2010,"$12,329,371",0,11412916,20%,0
2,3,0,0,2012,"$10,597,009",0,3005820,7%,0
3,4,0,0,2013,"$14,026,934",0,6597557,26%,0
4,5,0,0,2009,"$10,573,990",0,3138627,8%,0
5,6,0,0,2006,"$13,898,119",0,8427816,23%,0
6,7,0,0,2010,"$9,254,614",0,3005116,6%,0
7,8,0,0,2009,"$9,451,943",0,5573830,4%,0
8,9,0,0,2011,"$14,001,180",0,11901180,18%,0
9,10,0,0,2011,"$11,088,336",0,5453060,7%,0

In [11]:
read_csv.replace({"Industry":"[A-za-z]"},1,regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,1,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,1,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,1,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,1,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,1,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,1,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,1,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,1,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,1,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,1,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

# Ptr

In [1]:
import pandas as pd

In [2]:
read_csv = pd.read_csv("c:/users/musfik/documents/Copy of Fortune_10.csv")
read_csv

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [3]:
read_csv.replace(to_replace="Health",value="Healthy")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Healthy,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Healthy,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Healthy,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Healthy,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Healthy,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [5]:
read_csv.replace("Health","Hell")

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,Hell,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,Hell,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,Hell,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,Hell,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,Hell,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes

In [7]:
read_csv.replace({"Industry":"[A-Za-z]"},0,regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date
0,1,Lamtone,0,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes
1,2,Stripfind,0,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes
2,3,Canecorporation,0,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes
3,4,Mattouch,0,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes
5,6,Techline,0,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No
6,7,Cityace,0,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes
7,8,Kayelectronics,0,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes
8,9,Ganzlax,0,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No
9,10,Trantraxlax,0,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes