In [1]:
import pandas as pd

In [2]:
read_csv = pd.read_csv("c:/users/musfik/documents/Copy of Fortune_10.csv")
read_csv

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes,1/3/2024
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes,1/4/2024
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes,1/5/2024
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes,NaN
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No,NaN
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes,NaN
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes,1/9/2024
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No,1/10/2024
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes,1/11/2024

In [3]:
read_csv.loc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Date                       Yes
dateTime              1/2/2024
Name: 0, dtype: object

In [4]:
read_csv.loc[9]

ID                            10
Name                 Trantraxlax
Industry     Government Services
Inception                   2011
Revenue             $11,088,336
Expenses       5,635,276 Dollars
Profit                   5453060
Growth                        7%
Date                         Yes
dateTime               1/11/2024
Name: 9, dtype: object

In [5]:
read_csv.loc[[1,3]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes,1/3/2024
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes,1/5/2024

In [6]:
read_csv.loc[4,"Name"]

'Techdrill'

In [7]:
read_csv.loc[4,["Name","Industry"]]

Name        Techdrill
Industry       Health
Name: 4, dtype: object

In [8]:
read_csv.loc[4:7,["Name","Industry"]]

             Name Industry
4       Techdrill   Health
5        Techline   Health
6         Cityace   Health
7  Kayelectronics   Health

In [9]:
read_csv.loc[[True,True,False,False,False,False,False]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes,1/3/2024

In [11]:
read_csv[read_csv["ID"]>5]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No,NaN
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes,NaN
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes,1/9/2024
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No,1/10/2024
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes,1/11/2024

In [12]:
read_csv.iloc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Date                       Yes
dateTime              1/2/2024
Name: 0, dtype: object

In [13]:
read_csv.iloc[[0]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024

In [14]:
read_csv.iloc[:,0]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: ID, dtype: int64

In [15]:
read_csv.iloc[[True,False,True]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes,1/4/2024

# ptr

In [17]:
read_csv=pd.read_csv("c:/users/musfik/documents/Copy of Fortune_10.csv")
read_csv

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes,1/3/2024
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%,Yes,1/4/2024
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes,1/5/2024
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%,Yes,NaN
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%,No,NaN
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%,Yes,NaN
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%,Yes,1/9/2024
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180,18%,No,1/10/2024
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%,Yes,1/11/2024

In [18]:
read_csv.loc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Date                       Yes
dateTime              1/2/2024
Name: 0, dtype: object

In [19]:
read_csv.loc[0,"Name"]

'Lamtone'

In [21]:
read_csv.loc[[1,3]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%,Yes,1/3/2024
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%,Yes,1/5/2024

In [22]:
read_csv.loc[[1,3],["Name","Industry"]]

        Name            Industry
1  Stripfind  Financial Services
3   Mattouch         IT Services

In [23]:
read_csv.loc[[True]]

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth,Date,dateTime
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%,Yes,1/2/2024

In [27]:
read_csv.loc[read_csv["ID"]>5,"Inception"]

5    2006
6    2010
7    2009
8    2011
9    2011
Name: Inception, dtype: int64

In [28]:
read_csv.iloc[0]

ID                           1
Name                   Lamtone
Industry           IT Services
Inception                 2009
Revenue           $11,757,018
Expenses     6,482,465 Dollars
Profit                 5274553
Growth                     30%
Date                       Yes
dateTime              1/2/2024
Name: 0, dtype: object

In [30]:
read_csv.iloc[0,0]

1