In [1]:
import pandas as pd

In [11]:
df1=pd.DataFrame({
    "A":[1,2,3],
    "B":[10,20,30]
},index=["a","b","c"])
df2=pd.DataFrame({
    "C":[4,5,6],
    "D":[40,50,60]
},index=["a","b","c"])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50
c  6  60

In [12]:
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [14]:
df1=pd.DataFrame({
    "A":[1,2,3],
    "B":[10,20,30]
},index=["a","b","c"])

df2=pd.DataFrame({
    "C":[4,5],
    "D":[40,50]
},index=["a","b"])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50

In [15]:
df1.join(df2)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [16]:
df1.join(df2,how='right')

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [18]:
df1.join(df2,how='inner')

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [19]:
df1.join(df2,how='outer')

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [21]:
df1=pd.DataFrame({
    "A":[1,2,3],
    "B":[10,20,30]
},index=["a","b","c"])

df2=pd.DataFrame({
    "A":[4,5],
    "D":[40,50]
},index=["a","b"])
display(df1,df2)

   A   B
a  1  10
b  2  20
c  3  30

   A   D
a  4  40
b  5  50

In [23]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index([u'A'], dtype='object')