In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [21]:
df1 = pd.DataFrame({
    "A":[1,2,3],
    "B":[10,20,30],
})
df2 = pd.DataFrame({
    "A":[4,5,6],
    "B":[40,50,60]
})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [23]:
df1.append(df2,ignore_index=True)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60

In [24]:
df2.append(df1,ignore_index=True)

   A   B
0  4  40
1  5  50
2  6  60
3  1  10
4  2  20
5  3  30