In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("c:\users\musfik\documents\VC_Startups_1.csv",parse_dates=["Date"])
df

         Date  R&D Spend  Marketing Spend  Profit
0  2019-01-07     165349           142115  192126
1  2019-02-07     133848           142116  192126
2  2019-03-07     153441           142117  192126
3  2019-04-07     144372           142118  192126
4  2019-05-07     142107           142119  192126
5  2019-06-07     142108           142120  192126
6  2019-07-07     142109           142121  192126
7  2019-08-07     142110           142122  192126
8  2019-09-07     142111           142123  192126
9  2019-10-07     142112           142124  192126
10 2019-11-07     142113           142125  192126
11 2019-12-07     142114           142126  192126

In [7]:
df.dtypes

Date               datetime64[ns]
R&D Spend                   int64
Marketing Spend             int64
Profit                      int64
dtype: object

In [8]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp